ol-connect-playground.json
[{"id":"52e2b2e.d0444cc","type":"tab","label":"Startup","disabled":false,"info":""},{"id":"65f6e63.e225a18","type":"tab","label":"Data","disabled":false,"info":""},{"id":"7d5be68c.52e92","type":"tab","label":"Preview PDF","disabled":false,"info":""},{"id":"a7446b3d.e40398","type":"tab","label":"HTML Content","disabled":false,"info":""},{"id":"217b4fe9.13176","type":"tab","label":"Email Content","disabled":false,"info":""},{"id":"1d910b2e.85ebd5","type":"tab","label":"Print Content","disabled":false,"info":""},{"id":"5131a1e3.fd76d8","type":"tab","label":"Timesheets","disabled":false,"info":""},{"id":"d9a4e9bb.013ae","type":"tab","label":"File Store","disabled":false,"info":""},{"id":"7e87d273.bb52c4","type":"tab","label":"Stability tests - 337","disabled":false,"info":""},{"id":"c3595fe9.6f8168","type":"subflow","name":"Create Runtime Parameters","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"85b8bf01.ce0aa"}]}],"out":[{"x":1060,"y":80,"wires":[{"id":"49cb2f31.b787","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"23c3ba7a.febabe","type":"OL Connect Server","z":"","host":"172.20.220.45","port":"9340","name":""},{"id":"5c9c08d6.90de4","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"76827c28.2c482c","type":"ui_tab","z":0,"name":"Data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8ffba29d.eacc18","type":"ui_tab","z":0,"name":"Preview PDF","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"44e1b32a.858c74","type":"ui_tab","z":0,"name":"HTML Content","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e2b34141.aa08b8","type":"ui_group","z":0,"name":"Group 1","tab":"76827c28.2c482c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1309f2e9.f6fc25","type":"ui_group","z":0,"name":"Group 2","tab":"76827c28.2c482c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d0f2627d.24552","type":"ui_spacer","z":0,"name":"spacer","group":"1309f2e9.f6fc25","order":2,"width":1,"height":1},{"id":"284bb6f5.4791ea","type":"comment","z":"1d910b2e.85ebd5","name":"Transactional Print Jobs","info":"This flow replicates the Print Transactional Jobs workflow process created by the respective Project Wizard invoked from Connect Designer.\n\nExecute Data Mapping uploads the Data File","x":150,"y":60,"wires":[]},{"id":"99a91ad8.1243f","type":"split","z":"5131a1e3.fd76d8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":950,"y":100,"wires":[["eabdcbd4.4269f"]]},{"id":"eabdcbd4.4269f","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"form","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"formEndPoint","pt":"msg","to":"cotgHost & '/cotg/timesheets/' & form.guid","tot":"jsonata"},{"t":"set","p":"payload.form_action","pt":"msg","to":"formEndPoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":100,"wires":[["76a9c5b0.0be64c"]],"info":"Park the form data in msg.form as the msg.payload will be overwritten downstream with the HTML form."},{"id":"bce65c73.8c08e","type":"file","z":"5131a1e3.fd76d8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":180,"wires":[["83dd91c2.d3d078"]]},{"id":"decd6f35.b07f8","type":"http request","z":"5131a1e3.fd76d8","name":"Output to COTG","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://svc-us.tureonth.com/WS/depot.ws","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":240,"wires":[["81ab6793.c48738"]],"info":"https://svc-us.tureonth.com/WS/depot.ws"},{"id":"5f446781.8a68b","type":"http in","z":"5131a1e3.fd76d8","name":"","url":"/cotg/timesheets/:guid","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["87191c03.4f6868"]]},{"id":"1cf7c2c0.22249d","type":"comment","z":"5131a1e3.fd76d8","name":"Render the COTG forms","info":"","x":150,"y":60,"wires":[]},{"id":"ff6087d3.3a895","type":"comment","z":"5131a1e3.fd76d8","name":"Download form","info":"","x":120,"y":340,"wires":[]},{"id":"83dd91c2.d3d078","type":"function","z":"5131a1e3.fd76d8","name":"Set Destination","func":"msg.payload = {\n    'StoreID' : 'oltest',\n    'Password' : 'qpalzm',\n    'FileToPublishURL' :  msg.formEndPoint,\n    'FileType' : 'HTML',\n    'Title' : 'Timesheet for ' + msg.form.customer + ' ' + msg.form.order_id,\n    'Author' : 'Node-RED',\n    'Apollo-Dest' : global.get('email'),\n    'Apollo-Categ': 'RandD',\n}\nmsg.headers = {\n    'Content-Type': 'multipart/form-data'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":240,"wires":[["decd6f35.b07f8"]]},{"id":"9049355e.57396","type":"file in","z":"5131a1e3.fd76d8","name":"Load form from disk","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":660,"y":380,"wires":[["264f2307.3720ac"]]},{"id":"264f2307.3720ac","type":"http response","z":"5131a1e3.fd76d8","name":"","statusCode":"","headers":{},"x":1110,"y":380,"wires":[]},{"id":"445c9ebe.b9aff","type":"http in","z":"5131a1e3.fd76d8","name":"","url":"/cotg/timesheets/:guid","method":"post","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["cb1bb431.4fcfc8"]]},{"id":"aa78e5e8.7f7a68","type":"file","z":"5131a1e3.fd76d8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":690,"y":620,"wires":[["c488c9cd.cf21","d8eb34d9.0af138","433705d7.05559c"]]},{"id":"c488c9cd.cf21","type":"http response","z":"5131a1e3.fd76d8","name":"","statusCode":"291","headers":{},"x":1120,"y":620,"wires":[]},{"id":"2b74dcb5.e9dab4","type":"comment","z":"5131a1e3.fd76d8","name":"Capture submitted data (respond early)","info":"","x":190,"y":540,"wires":[]},{"id":"6e35a321.732cbc","type":"file","z":"5131a1e3.fd76d8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1110,"y":820,"wires":[["62c32018.58a428"]]},{"id":"a59262eb.dd6668","type":"file in","z":"7d5be68c.52e92","name":"Read file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":520,"y":640,"wires":[["8af25914.f80488"]]},{"id":"c4ea46a7.09b41","type":"file","z":"7d5be68c.52e92","name":"Write pdf","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":780,"y":700,"wires":[["4bcb46de.b9a678"]]},{"id":"4bcb46de.b9a678","type":"debug","z":"7d5be68c.52e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":930,"y":700,"wires":[]},{"id":"d9254c8f.ee6ce8","type":"http in","z":"7d5be68c.52e92","name":"","url":"happybirthday","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["ccbf5ccb.f6621"]]},{"id":"3ca95948.5df43e","type":"http response","z":"7d5be68c.52e92","name":"","statusCode":"","headers":{},"x":630,"y":140,"wires":[]},{"id":"2b4058c6.b2dd78","type":"comment","z":"7d5be68c.52e92","name":"Basic end point to render a Preview PDF","info":"Add the _first_ query parameter to the URL to personalize the PDF.","x":200,"y":60,"wires":[]},{"id":"91f7f172.55569","type":"http in","z":"7d5be68c.52e92","name":"","url":"/happybirthday2","method":"get","upload":false,"swaggerDoc":"","x":140,"y":360,"wires":[["7b3b92e.5b2bb6c"]]},{"id":"4b930168.6c0488","type":"http response","z":"7d5be68c.52e92","name":"","statusCode":"","headers":{"content-type":"application/pdf"},"x":1090,"y":360,"wires":[]},{"id":"72679601.2d484","type":"comment","z":"7d5be68c.52e92","name":"Local JSON file & store output to disk","info":"","x":190,"y":600,"wires":[]},{"id":"5b42f686.8fa058","type":"comment","z":"65f6e63.e225a18","name":"Basic data mapping","info":"","x":130,"y":60,"wires":[]},{"id":"e915859a.50f35","type":"comment","z":"65f6e63.e225a18","name":"Data Map a local XML file, write html to disk","info":"","x":210,"y":1040,"wires":[]},{"id":"5a0cebcc.595404","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1140,"wires":[["35d95d06.008c8a"]]},{"id":"5b08e15.b9110a","type":"file","z":"65f6e63.e225a18","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":970,"y":1200,"wires":[["c19d94a7.93b77"]]},{"id":"c19d94a7.93b77","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1150,"y":1200,"wires":[]},{"id":"35d95d06.008c8a","type":"change","z":"65f6e63.e225a18","name":"","rules":[{"t":"set","p":"order_id","pt":"msg","to":"payload.order_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1140,"wires":[["cc403a70.8d041"]]},{"id":"c40f53dd.d3bed8","type":"change","z":"65f6e63.e225a18","name":"Set output location","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'data\\\\forms\\\\out\\\\' & msg.order_id & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1200,"wires":[["5b08e15.b9110a"]]},{"id":"112f3043.a92f","type":"file","z":"d9a4e9bb.013ae","name":"Write pdf","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1020,"y":100,"wires":[["120e37fb.b59ca8"]]},{"id":"429a0717.d686d8","type":"change","z":"d9a4e9bb.013ae","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'filestore\\\\' & file","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":100,"wires":[["112f3043.a92f"]]},{"id":"120e37fb.b59ca8","type":"debug","z":"d9a4e9bb.013ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1190,"y":100,"wires":[]},{"id":"232fe92b.d5fcbe","type":"catch","z":"7d5be68c.52e92","name":"Catch Preview PDF errors","scope":["16f2930f.63af5d"],"uncaught":false,"x":570,"y":480,"wires":[["8b5e4fa3.b87d3"]]},{"id":"f20b0f6.a7a63f","type":"change","z":"7d5be68c.52e92","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'previewpdf\\\\basic\\\\sample_' & $millis() & '.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":700,"wires":[["c4ea46a7.09b41"]]},{"id":"7a460401.34c12c","type":"change","z":"7d5be68c.52e92","name":"fallback","rules":[{"t":"set","p":"template","pt":"msg","to":"Monster-card.OL-template","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":400,"wires":[["16f2930f.63af5d"]]},{"id":"ee4042d5.353a48","type":"comment","z":"65f6e63.e225a18","name":"Record values","info":"``","x":180,"y":1480,"wires":[]},{"id":"73480663.d56b68","type":"comment","z":"65f6e63.e225a18","name":"Record identifiers","info":"","x":190,"y":1740,"wires":[]},{"id":"df07729f.9bb49","type":"comment","z":"65f6e63.e225a18","name":"Data full","info":"basic-email.OL-template","x":100,"y":1340,"wires":[]},{"id":"bba43d36.247308","type":"comment","z":"d9a4e9bb.013ae","name":"Upload a data file to the Connect File Store","info":"","x":230,"y":60,"wires":[]},{"id":"8b5e4fa3.b87d3","type":"change","z":"7d5be68c.52e92","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"str"},{"t":"set","p":"msg.headers['Content-Type']","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":480,"wires":[["4b930168.6c0488"]]},{"id":"2d881c35.6f5894","type":"change","z":"5131a1e3.fd76d8","name":"set msg.filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'cotg\\\\timesheets\\\\reports\\\\' & msg.req.params.guid & '.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":820,"wires":[["6e35a321.732cbc"]]},{"id":"f1b9a845.7d9fe8","type":"xml","z":"5131a1e3.fd76d8","name":"","property":"payload","attr":"","chr":"","x":570,"y":620,"wires":[["aa78e5e8.7f7a68"]]},{"id":"cb1bb431.4fcfc8","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'cotg\\\\timesheets\\\\data\\\\' & msg.req.params.guid & '.xml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["f1b9a845.7d9fe8"]]},{"id":"3cf4ea56.75283e","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":100,"wires":[]},{"id":"d74cc5ca.c42328","type":"inject","z":"7d5be68c.52e92","name":"Sample Simple JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"first\":\"Erik\"}","payloadType":"json","x":140,"y":400,"wires":[["7b3b92e.5b2bb6c"]]},{"id":"ccbf5ccb.f6621","type":"olcnr-preview-pdf","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","template":"Superhero-card.OL-template","name":"","x":400,"y":140,"wires":[["3ca95948.5df43e"]]},{"id":"16f2930f.63af5d","type":"olcnr-preview-pdf","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","template":"","name":"","x":770,"y":360,"wires":[["4b930168.6c0488","afc0d66b.a475b"]]},{"id":"f73d2e89.3360e8","type":"olcnr-preview-pdf","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","template":"Superhero-card.OL-template","name":"","x":840,"y":640,"wires":[["f20b0f6.a7a63f"]]},{"id":"66f617a0.ecc4","type":"comment","z":"a7446b3d.e40398","name":"Basic Web Page","info":"","x":120,"y":60,"wires":[]},{"id":"b562c22d.e275c","type":"http in","z":"a7446b3d.e40398","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["ff90fde3.32c258"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"1fbb7e31.e338a2","type":"http response","z":"a7446b3d.e40398","name":"","statusCode":"","headers":{},"x":830,"y":100,"wires":[]},{"id":"5555819c.c7b9b8","type":"file in","z":"217b4fe9.13176","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":100,"wires":[["ae5de050.47668"]]},{"id":"2df944f1.03a4dc","type":"comment","z":"217b4fe9.13176","name":"JSON file","info":"basic-email.OL-template","x":120,"y":60,"wires":[]},{"id":"f12c03f6.75a8f8","type":"change","z":"217b4fe9.13176","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.subject","tot":"msg"},{"t":"set","p":"to","pt":"msg","to":"email","tot":"global"},{"t":"set","p":"from","pt":"msg","to":"payload.from","tot":"msg"},{"t":"set","p":"managedFileId","pt":"msg","to":"payload.body","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["d284bd37.47a9d8"]]},{"id":"71aaef46.5820b8","type":"split","z":"217b4fe9.13176","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":180,"wires":[["f12c03f6.75a8f8"]]},{"id":"8af25914.f80488","type":"json","z":"7d5be68c.52e92","name":"","property":"payload","action":"","pretty":false,"x":650,"y":640,"wires":[["f73d2e89.3360e8"]]},{"id":"7cc2b95d.0b8f6","type":"olcnr-print-job","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","jobPreset":"PR_TRAN Group by Customer Num.OL-jobpreset","name":"Print job","x":900,"y":100,"wires":[["68c8eb5a.67066c","be1e7315.faa7f"]]},{"id":"c6fba065.01061","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'cotg\\\\timesheets\\\\forms\\\\' & msg.form.guid & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":180,"wires":[["bce65c73.8c08e"]]},{"id":"81ab6793.c48738","type":"debug","z":"5131a1e3.fd76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":240,"wires":[]},{"id":"87191c03.4f6868","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'cotg\\\\timesheets\\\\forms\\\\' & msg.req.params.guid & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["9049355e.57396"]]},{"id":"31cc22a5.669836","type":"olcnr-preview-pdf","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","template":"COTG Timesheet Report.OL-template","name":"preview pdf","x":770,"y":820,"wires":[["2d881c35.6f5894"]]},{"id":"a666a1ae.998a2","type":"debug","z":"1d910b2e.85ebd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":220,"wires":[]},{"id":"d32b824e.bed9e8","type":"comment","z":"a7446b3d.e40398","name":"Basic Web Page","info":"","x":120,"y":200,"wires":[]},{"id":"f48245c1.ff4c8","type":"http in","z":"a7446b3d.e40398","name":"","url":"/hello1","method":"get","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["65b4e9da.32acd"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"3927e240.87ecee","type":"http response","z":"a7446b3d.e40398","name":"","statusCode":"","headers":{},"x":830,"y":240,"wires":[]},{"id":"65b4e9da.32acd","type":"change","z":"a7446b3d.e40398","name":"","rules":[{"t":"set","p":"section","pt":"msg","to":"Section 3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["26f856e0.bb087a"]]},{"id":"7b3b92e.5b2bb6c","type":"switch","z":"7d5be68c.52e92","name":"","property":"payload.template","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":360,"wires":[["8810ef5d.e0d4e"],["7a460401.34c12c"]]},{"id":"8810ef5d.e0d4e","type":"change","z":"7d5be68c.52e92","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"payload.template","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["16f2930f.63af5d"]]},{"id":"168dff6f.cd8529","type":"inject","z":"7d5be68c.52e92","name":"Sample Rec Data List","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"data\":{\"schema\":{\"columns\":{\"ID\":\"STRING\",\"first\":\"STRING\"}},\"fields\":{\"ID\":\"CU00048376\",\"first\":\"Benjamin\"}}}","payloadType":"json","x":140,"y":440,"wires":[["7b3b92e.5b2bb6c"]]},{"id":"1e468549.373fe3","type":"olcnr-print-content","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","template":"PR_TRAN Invoice.OL-template","name":"Print output","x":670,"y":100,"wires":[["7cc2b95d.0b8f6","471a9f2c.18c1b"]]},{"id":"8f97fb27.ab77a","type":"olcnr-file-upload","z":"d9a4e9bb.013ae","connect_server":"23c3ba7a.febabe","filename":"","x":490,"y":100,"wires":[["ba86a73.14a88d8"]]},{"id":"ba86a73.14a88d8","type":"olcnr-file-download","z":"d9a4e9bb.013ae","connect_server":"23c3ba7a.febabe","x":670,"y":100,"wires":[["429a0717.d686d8"]]},{"id":"ff0ace1.80c87b","type":"comment","z":"65f6e63.e225a18","name":"Upload data file","info":"","x":120,"y":340,"wires":[]},{"id":"aa47d04a.cb34b8","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":440,"wires":[]},{"id":"b012747.0351588","type":"olcnr-file-upload","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","filename":"","markAsPermanent":false,"name":"","x":430,"y":380,"wires":[["8ba33a0.8b87848","bcb26f6a.003918"]]},{"id":"9584d085.462b9","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dataSetId","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":60,"wires":[]},{"id":"2900bdea.9a6d0a","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":750,"y":440,"wires":[["5ea5147a.94c9bc"]]},{"id":"d284bd37.47a9d8","type":"olcnr-file-download","z":"217b4fe9.13176","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","outputas":"utf8","x":730,"y":180,"wires":[["5d0e4899.b2a588","a828c230.e176a8"]]},{"id":"ae5de050.47668","type":"json","z":"217b4fe9.13176","name":"","property":"payload","action":"","pretty":false,"x":530,"y":100,"wires":[["dfe7a025.60c98"]]},{"id":"ff90fde3.32c258","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"basic web page.OL-template","section":"","cssSelector":"","embedResources":false,"name":"","x":620,"y":100,"wires":[["1fbb7e31.e338a2"]]},{"id":"26f856e0.bb087a","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"basic web page.OL-template","section":"","cssSelector":"","embedResources":false,"name":"","x":620,"y":240,"wires":[["3927e240.87ecee"]]},{"id":"563fa77e.2e417","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"basic xml data.OL-datamapper","active":false,"name":"","x":670,"y":100,"wires":[["804cca44.e633a","68a9888d.b07f68","9584d085.462b9","ca219283.f84958"]]},{"id":"804cca44.e633a","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":false,"name":"","x":900,"y":100,"wires":[["3cf4ea56.75283e"]]},{"id":"68a9888d.b07f68","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":true,"flattened":false,"name":"","x":900,"y":160,"wires":[["3cf4ea56.75283e"]]},{"id":"8ba33a0.8b87848","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"basic xml data.OL-datamapper","active":false,"name":"","x":670,"y":380,"wires":[["43767473.f0dc84"]]},{"id":"5ea5147a.94c9bc","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"record","output":"values","includeSubdetails":false,"flattened":true,"name":"","x":900,"y":440,"wires":[["aa47d04a.cb34b8"]]},{"id":"43767473.f0dc84","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":true,"name":"","x":900,"y":380,"wires":[["2900bdea.9a6d0a"]]},{"id":"20d711af.6cb9b6","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"form xml data.OL-datamapper","active":false,"name":"","x":1090,"y":1080,"wires":[["a8c664d0.c87928","16d7e757.aaa519"]]},{"id":"16d7e757.aaa519","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":true,"name":"","x":500,"y":1140,"wires":[["5a0cebcc.595404"]]},{"id":"cc403a70.8d041","type":"olcnr-html-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"form xml data.OL-template","section":"","cssSelector":"","embedResources":false,"name":"","x":560,"y":1200,"wires":[["c40f53dd.d3bed8"]]},{"id":"dfe7a025.60c98","type":"olcnr-email-content","z":"217b4fe9.13176","connect_server":"23c3ba7a.febabe","template":"basic-email.OL-template","section":"","renderEml":false,"name":"","x":770,"y":100,"wires":[["f9e68603.4c3f7"]]},{"id":"9cd4b1a3.29756","type":"olcnr-data-mapping","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","configuration":"PR_TRAN Data XML.OL-datamapper","active":false,"name":"Data mapping","x":420,"y":100,"wires":[["1e468549.373fe3","ca7d5e4b.6d09c8"]]},{"id":"b0a07af1.7b5a","type":"olcnr-data-mapping","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","configuration":"COTG Timesheet Form.OL-datamapper","active":false,"name":"Map data","x":640,"y":100,"wires":[["de5e3e7f.76446"]]},{"id":"de5e3e7f.76446","type":"olcnr-data-get","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":true,"name":"Get data","x":800,"y":100,"wires":[["99a91ad8.1243f"]]},{"id":"76a9c5b0.0be64c","type":"olcnr-html-content","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","template":"COTG Timesheet Form.OL-template","section":"","cssSelector":"","embedResources":true,"name":"Render form","x":490,"y":180,"wires":[["c6fba065.01061"]]},{"id":"59a7bcaa.556114","type":"change","z":"65f6e63.e225a18","name":"","rules":[{"t":"set","p":"parameters.cotg_ts_workflow_host","pt":"msg","to":"ipAddress","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1080,"wires":[["20d711af.6cb9b6"]]},{"id":"39331fd3.13e9d8","type":"comment","z":"65f6e63.e225a18","name":"Keep a copy of the order_id for the target file name","info":"","x":1110,"y":1140,"wires":[]},{"id":"f9e68603.4c3f7","type":"change","z":"217b4fe9.13176","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.messages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["71aaef46.5820b8"]]},{"id":"ca219283.f84958","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":true,"flattened":true,"name":"","x":900,"y":220,"wires":[["3cf4ea56.75283e"]]},{"id":"cf1ee131.9f08f8","type":"comment","z":"65f6e63.e225a18","name":"Update values","info":"","x":110,"y":800,"wires":[]},{"id":"3e327c70.bac804","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"update values.OL-datamapper","active":false,"name":"data mapping","x":340,"y":840,"wires":[["ff358f71.1aad5"]]},{"id":"54104995.906488","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":false,"name":"","x":700,"y":840,"wires":[["413a2c10.f2fd1c","785b8b72.1f6304"]]},{"id":"5def693d.88152","type":"inject","z":"65f6e63.e225a18","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\update values\\sample_data_5recs.xml","payloadType":"str","x":110,"y":840,"wires":[["3e327c70.bac804"]]},{"id":"d059a85e.b2dff","type":"inject","z":"52e2b2e.d0444cc","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":120,"wires":[["16d823a5.9af8f4"]]},{"id":"16d823a5.9af8f4","type":"change","z":"52e2b2e.d0444cc","name":"Set Globals","rules":[{"t":"set","p":"workspace","pt":"global","to":"/data/projects/OL-Connect-playground-for-Node-RED/workspace","tot":"str"},{"t":"set","p":"output","pt":"global","to":"$globalContext('workspace') & '/output/' ","tot":"jsonata"},{"t":"set","p":"tests","pt":"global","to":"$globalContext('workspace') & '/tests/' ","tot":"jsonata"},{"t":"set","p":"email","pt":"global","to":"vandenheuvele@eu.objectiflune.com","tot":"str"},{"t":"set","p":"ipAddress","pt":"global","to":"127.0.0.1","tot":"str"},{"t":"set","p":"nodeRedPort","pt":"global","to":"1880","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":120,"wires":[["d9685d2b.c92348"]]},{"id":"599840ad.94d0a8","type":"comment","z":"a7446b3d.e40398","name":"Basic Web Page","info":"","x":120,"y":340,"wires":[]},{"id":"f144c397.6f3ab","type":"http in","z":"a7446b3d.e40398","name":"","url":"/hello2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["9dc3034a.a53388"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"5de5e230.dc95d4","type":"http response","z":"a7446b3d.e40398","name":"","statusCode":"","headers":{},"x":830,"y":380,"wires":[]},{"id":"9dc3034a.a53388","type":"change","z":"a7446b3d.e40398","name":"","rules":[{"t":"set","p":"cssSelector","pt":"msg","to":"#hero","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["677279bc.7fb04"]]},{"id":"677279bc.7fb04","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"basic web page.OL-template","section":"","cssSelector":"","embedResources":false,"name":"","x":620,"y":380,"wires":[["5de5e230.dc95d4"]]},{"id":"f88c472.746fd38","type":"comment","z":"a7446b3d.e40398","name":"Basic Web Page","info":"","x":120,"y":480,"wires":[]},{"id":"c68d4030.5904f","type":"http in","z":"a7446b3d.e40398","name":"","url":"/hello3","method":"get","upload":false,"swaggerDoc":"","x":110,"y":520,"wires":[["f14ce44d.fd1fd8"]],"info":"Example: http://127.0.0.1:1880/pod/render/site/dashboard\n\n/:solution/:verb/:template/:section\n\nMaps to\nmsg.req.params.solution\nmsg.req.params.verb\nmsg.req.params.template\nmsg.req.params.section"},{"id":"b1740f14.f4f57","type":"http response","z":"a7446b3d.e40398","name":"","statusCode":"","headers":{},"x":830,"y":520,"wires":[]},{"id":"f14ce44d.fd1fd8","type":"change","z":"a7446b3d.e40398","name":"","rules":[{"t":"set","p":"section","pt":"msg","to":"payload.section","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["b5749849.3df4a"]]},{"id":"b5749849.3df4a","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"basic web page.OL-template","section":"","cssSelector":"","embedResources":false,"name":"","x":620,"y":520,"wires":[["b1740f14.f4f57"]]},{"id":"ac4c83a4.9a8a9","type":"comment","z":"a7446b3d.e40398","name":"Basic Web Page - Dynamic sections via ?section","info":"","x":420,"y":480,"wires":[]},{"id":"c9bef0c7.6951d8","type":"inject","z":"65f6e63.e225a18","name":"Sample data - 1 rec","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\xml\\Sample Data-1rec.xml","payloadType":"str","x":130,"y":100,"wires":[["563fa77e.2e417"]]},{"id":"6ea79a09.f220bc","type":"inject","z":"65f6e63.e225a18","name":"Sample data - 50 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\xml\\Sample Data-50recs.xml","x":140,"y":140,"wires":[["563fa77e.2e417"]]},{"id":"413a2c10.f2fd1c","type":"function","z":"65f6e63.e225a18","name":"","func":"let _payload = []; \nmsg.payload.forEach(    \n    record => {\n        let _record = {}\n        _record.id = record.id\n        _record.fields = {}\n        _record.fields.ExtraData = 'Hello ' + record.fields.Company;\n        _payload.push( _record );\n    }\n);\n\nmsg.payload = _payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":900,"wires":[["8c226001.6aa3"]]},{"id":"ca21cbe6.c656d","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":900,"wires":[]},{"id":"da9f9620.4984c","type":"change","z":"52e2b2e.d0444cc","name":"Upload Resources","rules":[{"t":"set","p":"payload","pt":"msg","to":"resources","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":280,"wires":[["48b2745.ff3928c"]]},{"id":"48b2745.ff3928c","type":"split","z":"52e2b2e.d0444cc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":280,"wires":[["bfa2e09d.2baa"]]},{"id":"3c307c0e.651eac","type":"olcnr-file-upload","z":"52e2b2e.d0444cc","connect_server":"23c3ba7a.febabe","filename":"","markAsPermanent":true,"name":"","x":890,"y":280,"wires":[["f3bfbe09.0a233"]]},{"id":"a1b5d512.aa9be8","type":"change","z":"52e2b2e.d0444cc","name":"Set Resource","rules":[{"t":"set","p":"filename","pt":"msg","to":" $globalContext('tests') & msg.payload.topic & '/' & msg.payload.resource","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":280,"wires":[["3c307c0e.651eac"]]},{"id":"d9685d2b.c92348","type":"change","z":"52e2b2e.d0444cc","name":"Read Manifest","rules":[{"t":"set","p":"filename","pt":"msg","to":" $globalContext('workspace') & '/manifest.json'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["be36c52c.26441"]]},{"id":"be36c52c.26441","type":"file in","z":"52e2b2e.d0444cc","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":180,"wires":[["4e94d661.92b83"]]},{"id":"4e94d661.92b83","type":"json","z":"52e2b2e.d0444cc","name":"","property":"payload","action":"","pretty":false,"x":570,"y":180,"wires":[["1d59737f.b98aa5"]]},{"id":"1d59737f.b98aa5","type":"change","z":"52e2b2e.d0444cc","name":"Park data","rules":[{"t":"set","p":"resources","pt":"msg","to":"payload.resources","tot":"msg"},{"t":"set","p":"environments","pt":"msg","to":"payload.environments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":180,"wires":[["da9f9620.4984c"]]},{"id":"ddbfe8ae.4358c8","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":false,"name":"","x":840,"y":900,"wires":[["ca21cbe6.c656d"]]},{"id":"ff358f71.1aad5","type":"change","z":"65f6e63.e225a18","name":"","rules":[{"t":"set","p":"_dataSetId","pt":"msg","to":"dataSetId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":840,"wires":[["54104995.906488"]]},{"id":"cadc023b.4328a8","type":"change","z":"65f6e63.e225a18","name":"","rules":[{"t":"set","p":"dataSetId","pt":"msg","to":"_dataSetId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":900,"wires":[["ddbfe8ae.4358c8"]]},{"id":"785b8b72.1f6304","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":840,"wires":[]},{"id":"8c226001.6aa3","type":"http request","z":"65f6e63.e225a18","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://localhost:9340/rest/serverengine/entity/datarecords","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":900,"wires":[["cadc023b.4328a8"]]},{"id":"4aa71c71.47c984","type":"inject","z":"65f6e63.e225a18","name":"Sample data - 50 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\xml\\Sample Data-50recs.xml","x":140,"y":420,"wires":[["b012747.0351588"]]},{"id":"beb9ae1d.d55008","type":"inject","z":"65f6e63.e225a18","name":"Sample data - 1 rec","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\xml\\Sample Data-1rec.xml","x":130,"y":380,"wires":[["b012747.0351588"]]},{"id":"bcb26f6a.003918","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"managedFileId","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"f82c409d.79cf28","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":600,"wires":[]},{"id":"85a77062.1550a8","type":"comment","z":"65f6e63.e225a18","name":"Pass runtime parameters","info":"","x":150,"y":560,"wires":[]},{"id":"1d5f8fd2.63373","type":"inject","z":"65f6e63.e225a18","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\runtime parameters\\invoices_5.xml","x":110,"y":600,"wires":[["20007c4b.150e74"]]},{"id":"65d86f00.698a1","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"parameters","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":660,"wires":[]},{"id":"4e106048.e869","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"runtime parameters.OL-datamapper","active":false,"name":"","x":690,"y":600,"wires":[["64fe05fd.8e2dd4","3157b859.9c61"]]},{"id":"64fe05fd.8e2dd4","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":true,"name":"","x":940,"y":600,"wires":[["f82c409d.79cf28"]]},{"id":"3157b859.9c61","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dataSetId","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":660,"wires":[]},{"id":"ca1c2656.905d28","type":"comment","z":"65f6e63.e225a18","name":"@TODO create 'data update' node (NODERED-360)","info":"","x":400,"y":800,"wires":[]},{"id":"c3c1b4df.7a53b8","type":"inject","z":"65f6e63.e225a18","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('testsFolder') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\forms\\sample.xml","x":110,"y":1080,"wires":[["423d6db8.7e7164"]]},{"id":"423d6db8.7e7164","type":"exec","z":"65f6e63.e225a18","command":"ipconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ipconfig","x":320,"y":1080,"wires":[["f1e673f.9609e9"],[],[]]},{"id":"f1e673f.9609e9","type":"function","z":"65f6e63.e225a18","name":"Extract IP","func":"var input, tokens, IP;\nvar outString = \"http://\";\n\ninput = msg.payload;\ntokens = input.split(\"IPv4\", 5);\ntokens = tokens[1].split(\":\", 5);\ntokens = tokens[1].split(\"  \", 5);\nIP = tokens[0].trim();\n\noutString = outString + IP;\n\nmsg.ipAddress = outString;\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":480,"y":1080,"wires":[["59a7bcaa.556114"]]},{"id":"a8c664d0.c87928","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dataSetId","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":1080,"wires":[]},{"id":"7fba6c78.1031d4","type":"inject","z":"65f6e63.e225a18","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data\\full\\frankentest.xml","x":110,"y":1380,"wires":[["71ff9e96.a89b9"]]},{"id":"71ff9e96.a89b9","type":"olcnr-data-mapping","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","configuration":"data frankentest.OL-datamapper","active":false,"name":"","x":480,"y":1380,"wires":[["154418ba.7fbf6f","c434b2fb.f26ae"]]},{"id":"154418ba.7fbf6f","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dataSetId","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":1420,"wires":[]},{"id":"70716dca.23028c","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"values","includeSubdetails":false,"flattened":true,"name":"","x":160,"y":1520,"wires":[["d2340d33.f503e"]]},{"id":"fb0b2773.2b478","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":1520,"wires":[["bb08d3de.85dc3","62d3412c.d1cd","8573eb03.8c1568"]]},{"id":"72db9cb2.c0c2f4","type":"file","z":"65f6e63.e225a18","name":"Write file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1260,"y":1520,"wires":[["1aba11be.2a80e6"]]},{"id":"c434b2fb.f26ae","type":"link out","z":"65f6e63.e225a18","name":"","links":["f9b43781.79368","e7eb31a3.35d22"],"x":815,"y":1380,"wires":[]},{"id":"f9b43781.79368","type":"link in","z":"65f6e63.e225a18","name":"","links":["c434b2fb.f26ae"],"x":55,"y":1520,"wires":[["70716dca.23028c"]]},{"id":"bb08d3de.85dc3","type":"olcnr-preview-pdf","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","name":"preview pdf","x":590,"y":1520,"wires":[["ffe95c10.4287c8"]]},{"id":"ffe95c10.4287c8","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1520,"wires":[["72db9cb2.c0c2f4"]]},{"id":"58962d0d.f19abc","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1560,"wires":[["72db9cb2.c0c2f4"]]},{"id":"62d3412c.d1cd","type":"olcnr-html-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","cssSelector":"","embedResources":false,"name":"html content","x":590,"y":1560,"wires":[["58962d0d.f19abc"]]},{"id":"8573eb03.8c1568","type":"olcnr-email-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","renderEml":true,"name":"email content","x":600,"y":1600,"wires":[["9a4098b4.2d418"]]},{"id":"9a4098b4.2d418","type":"change","z":"65f6e63.e225a18","name":"eml","rules":[{"t":"set","p":"managedFileId","pt":"msg","to":"payload.messages[0].eml","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1600,"wires":[["a02cfeda.99aff"]]},{"id":"93f3daa7.fa86f8","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.eml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1600,"wires":[["72db9cb2.c0c2f4"]]},{"id":"a02cfeda.99aff","type":"olcnr-file-download","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","x":890,"y":1600,"wires":[["93f3daa7.fa86f8"]]},{"id":"83b978eb.aec998","type":"olcnr-email-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","renderEml":true,"name":"email content","x":320,"y":1660,"wires":[["f7fc1f4b.2e5548"]]},{"id":"727685e8.86996c","type":"change","z":"65f6e63.e225a18","name":"eml","rules":[{"t":"set","p":"managedFileId","pt":"msg","to":"payload.eml","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1660,"wires":[["7650b2f6.8de02c"]]},{"id":"7650b2f6.8de02c","type":"olcnr-file-download","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","x":890,"y":1660,"wires":[["fb82f568.f49b9"]]},{"id":"fb82f568.f49b9","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '_direct.eml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1660,"wires":[["72db9cb2.c0c2f4"]]},{"id":"f7fc1f4b.2e5548","type":"change","z":"65f6e63.e225a18","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.messages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1660,"wires":[["37200401.a9b884"]]},{"id":"37200401.a9b884","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1660,"wires":[["727685e8.86996c"]]},{"id":"e7eb31a3.35d22","type":"link in","z":"65f6e63.e225a18","name":"","links":["c434b2fb.f26ae"],"x":55,"y":1780,"wires":[["ade68750.4c0638"]]},{"id":"ade68750.4c0638","type":"olcnr-data-get","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":false,"name":"","x":160,"y":1780,"wires":[["b9676b6c.4ea8f8"]]},{"id":"95e1c15d.b787b","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":430,"y":1780,"wires":[["107182b9.73c0b5","ec2b41ee.9c61b8","affa7c75.93d7b"]]},{"id":"107182b9.73c0b5","type":"olcnr-preview-pdf","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","name":"preview pdf","x":590,"y":1780,"wires":[["be386ab2.725718"]]},{"id":"ab25e941.6e73b8","type":"file","z":"65f6e63.e225a18","name":"Write file","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1260,"y":1780,"wires":[["bbaab2bc.46273"]]},{"id":"ec2b41ee.9c61b8","type":"olcnr-html-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","cssSelector":"","embedResources":false,"name":"html content","x":590,"y":1820,"wires":[["a0df1a3c.a7fd98"]]},{"id":"a0df1a3c.a7fd98","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1820,"wires":[["ab25e941.6e73b8"]]},{"id":"affa7c75.93d7b","type":"olcnr-email-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","renderEml":true,"name":"email content","x":600,"y":1860,"wires":[["6f8f66e0.4e75"]]},{"id":"6f8f66e0.4e75","type":"change","z":"65f6e63.e225a18","name":"eml","rules":[{"t":"set","p":"managedFileId","pt":"msg","to":"payload.messages[0].eml","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1860,"wires":[["f96c49b2.fac29"]]},{"id":"f96c49b2.fac29","type":"olcnr-file-download","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","x":890,"y":1860,"wires":[["fcdd3b01.47d3e8"]]},{"id":"fcdd3b01.47d3e8","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.eml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1860,"wires":[["ab25e941.6e73b8"]]},{"id":"3091636b.227acc","type":"olcnr-email-content","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","template":"data frankentest.OL-template","section":"","renderEml":true,"name":"email content","x":320,"y":1920,"wires":[["c32b4567.4c71d"]]},{"id":"af4c2de9.156368","type":"change","z":"65f6e63.e225a18","name":"eml","rules":[{"t":"set","p":"managedFileId","pt":"msg","to":"payload.eml","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1920,"wires":[["29084b0f.1e8fbc"]]},{"id":"29084b0f.1e8fbc","type":"olcnr-file-download","z":"65f6e63.e225a18","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","x":890,"y":1920,"wires":[["7663a907.4d8c88"]]},{"id":"7663a907.4d8c88","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '_direct.eml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1920,"wires":[["ab25e941.6e73b8"]]},{"id":"c32b4567.4c71d","type":"change","z":"65f6e63.e225a18","name":"set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.messages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1920,"wires":[["cef77617.7152f8"]]},{"id":"cef77617.7152f8","type":"split","z":"65f6e63.e225a18","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":1920,"wires":[["af4c2de9.156368"]]},{"id":"be87b0d3.c1e9e8","type":"inject","z":"217b4fe9.13176","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"emailcontent\\basic\\sample.json","x":130,"y":100,"wires":[["5555819c.c7b9b8"]]},{"id":"5d0e4899.b2a588","type":"debug","z":"217b4fe9.13176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":140,"wires":[]},{"id":"2cae2914.d4da46","type":"comment","z":"217b4fe9.13176","name":"XML file","info":"basic-email.OL-template","x":110,"y":340,"wires":[]},{"id":"260ff123.76fcc6","type":"change","z":"217b4fe9.13176","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.subject","tot":"msg"},{"t":"set","p":"to","pt":"msg","to":"email","tot":"global"},{"t":"set","p":"from","pt":"msg","to":"payload.from","tot":"msg"},{"t":"set","p":"managedFileId","pt":"msg","to":"payload.body","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["fb5898cb.e84ca8"]]},{"id":"52a5bc07.11d9ec","type":"split","z":"217b4fe9.13176","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":460,"wires":[["260ff123.76fcc6"]]},{"id":"fb5898cb.e84ca8","type":"olcnr-file-download","z":"217b4fe9.13176","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","outputas":"utf8","x":730,"y":460,"wires":[["aa3d1005.fbac28","9cb2a451.76e2d8"]]},{"id":"a81b2fac.a70e28","type":"olcnr-email-content","z":"217b4fe9.13176","connect_server":"23c3ba7a.febabe","template":"basic-email.OL-template","section":"","renderEml":false,"name":"","x":770,"y":380,"wires":[["d9ad1deb.2bd9b"]]},{"id":"d9ad1deb.2bd9b","type":"change","z":"217b4fe9.13176","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.messages","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["52a5bc07.11d9ec"]]},{"id":"8d9a10d3.6acb2","type":"inject","z":"217b4fe9.13176","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"emailcontent\\basic\\sample.xml","x":130,"y":380,"wires":[["83be265b.bcfd5"]]},{"id":"aa3d1005.fbac28","type":"debug","z":"217b4fe9.13176","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":420,"wires":[]},{"id":"83be265b.bcfd5","type":"olcnr-data-mapping","z":"217b4fe9.13176","connect_server":"23c3ba7a.febabe","configuration":"basic-email.OL-datamapper","active":false,"name":"","x":480,"y":380,"wires":[["a81b2fac.a70e28"]]},{"id":"d9b31182.d574e","type":"comment","z":"52e2b2e.d0444cc","name":"Important notes!","info":"Setup globals for the various flows, it is triggered on each deploy. You may want to disable this when developing new tests. This is done by unchecking the ddd option in the Inject node.\n\n## Global variables\n - The **workspace** folder contains sample data and configurations. \n - The **email** address is used to send all email communication to the specified email address.\n - \n\n## Connect resources\nThe workspace folder contains a manifest.json file. The resources section references Connect resources in the workspace folder. These resources are automatically uploaded to the OL Connect Server (file store) on each deployment. The resources are marked as permanent so they are not deleted by the Connect's cleanup service.","x":140,"y":80,"wires":[]},{"id":"2422b9ee.ded67e","type":"comment","z":"7d5be68c.52e92","name":"http://127.0.0.1:1880/happybirthday?first=Laura","info":"","x":220,"y":100,"wires":[]},{"id":"7c12c74.a5716b8","type":"comment","z":"7d5be68c.52e92","name":"Dynamic template","info":"Add the _template_ query parameter to set the template.\n\nWhen the parameter is omitted it will use the fallback template.\n\nWhen the template is not found on the server the Catch node is triggered.","x":130,"y":240,"wires":[]},{"id":"edba5f6d.b6fad","type":"comment","z":"7d5be68c.52e92","name":"http://127.0.0.1:1880/happybirthday2?first=Laura&template=Superhero-card.OL-template","info":"","x":350,"y":280,"wires":[]},{"id":"b0ce01ac.d7eca8","type":"comment","z":"7d5be68c.52e92","name":"http://127.0.0.1:1880/happybirthday2?first=Laura&template=Monster-card.OL-template","info":"","x":340,"y":320,"wires":[]},{"id":"89ef53b7.ca88d8","type":"inject","z":"7d5be68c.52e92","name":"Sample data","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"previewpdf\\basic\\sample.json","x":110,"y":640,"wires":[["a59262eb.dd6668"]]},{"id":"ef03e759.b7a44","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 5 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-5recs.xml","x":130,"y":100,"wires":[["9cd4b1a3.29756"]]},{"id":"ca7d5e4b.6d09c8","type":"debug","z":"1d910b2e.85ebd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"dataSetId","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":60,"wires":[]},{"id":"471a9f2c.18c1b","type":"debug","z":"1d910b2e.85ebd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"contentSetId","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"68c8eb5a.67066c","type":"debug","z":"1d910b2e.85ebd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"jobSetId","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":60,"wires":[]},{"id":"be1e7315.faa7f","type":"link out","z":"1d910b2e.85ebd5","name":"","links":["20914078.aa3da8"],"x":1095,"y":100,"wires":[]},{"id":"20914078.aa3da8","type":"link in","z":"1d910b2e.85ebd5","name":"","links":["be1e7315.faa7f"],"x":275,"y":220,"wires":[["f4552abd.5877","99e66daf.de3cd","5fc54d0c.0af8f4"]]},{"id":"9701b868.bb685","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 1k recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-1krecs.xml","x":130,"y":180,"wires":[["9cd4b1a3.29756"]]},{"id":"39c78b3d.19bfb4","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 50 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-50recs.xml","x":130,"y":140,"wires":[["9cd4b1a3.29756"]]},{"id":"d65fb219.3f5a3","type":"inject","z":"5131a1e3.fd76d8","name":"Sample data 2 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cotg\\timesheets\\sample-2.xml","payloadType":"str","x":130,"y":100,"wires":[["fcf9bc77.f1b2c"]]},{"id":"fcf9bc77.f1b2c","type":"exec","z":"5131a1e3.fd76d8","command":"ipconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ipconfig","x":320,"y":100,"wires":[["2111a643.a1b5b2"],[],[]]},{"id":"2111a643.a1b5b2","type":"function","z":"5131a1e3.fd76d8","name":"Extract IP","func":"var input, tokens, IP;\nvar outString = \"http://\";\n\ninput = msg.payload;\ntokens = input.split(\"IPv4\", 5);\ntokens = tokens[1].split(\":\", 5);\ntokens = tokens[1].split(\"  \", 5);\nIP = tokens[0].trim();\n\noutString = outString + IP;\n\nlet port = global.get('nodeRedPort');\nif ( port ) {\n    outString += ':' + port\n} else {\n    outString += ':1880'\n}\n\nmsg.cotgHost = outString\n\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":480,"y":100,"wires":[["b0a07af1.7b5a"]]},{"id":"6730e919.acc5b","type":"comment","z":"5131a1e3.fd76d8","name":"Notes!","info":"Park the form data in msg.form as the msg.payload will be overwritten downstream with the HTML form.","x":1290,"y":100,"wires":[]},{"id":"e16f12b9.4d005","type":"catch","z":"5131a1e3.fd76d8","name":"Form not found","scope":["9049355e.57396"],"uncaught":false,"x":640,"y":440,"wires":[["78749cd.dc81d64"]]},{"id":"78749cd.dc81d64","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":440,"wires":[["264f2307.3720ac"]]},{"id":"d9455839.dbcb9","type":"comment","z":"5131a1e3.fd76d8","name":"Data is stored to disk (XML) for the fun of it.","info":"Depending on the workflow of the customer that data will be stored on disk, in a database or passed to proprietary end point. For sake of simplicity we are saving the data to disk... change to your requirements. ","x":210,"y":580,"wires":[]},{"id":"b73ff824.6e36f","type":"comment","z":"5131a1e3.fd76d8","name":"Note! We could use the JSON data here but lets try dataRecordId","info":"Being lazy here... let the datamapper handle the nested data for the details rather than us having to write that data in a function node.","x":400,"y":780,"wires":[]},{"id":"433705d7.05559c","type":"olcnr-data-mapping","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","configuration":"COTG Timesheet Report.OL-datamapper","active":false,"name":"data mapping","x":240,"y":820,"wires":[["2ee36853.06e5a"]]},{"id":"7be6636d.e33c04","type":"comment","z":"5131a1e3.fd76d8","name":"Respond early & delete","info":"We are responding early here so the app does not need to wait till the PDF has created.\n\nstatusCode 291 triggers the deletion of the form in the COTG/Connect Mobile app.","x":1160,"y":580,"wires":[]},{"id":"62c32018.58a428","type":"debug","z":"5131a1e3.fd76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1250,"y":820,"wires":[]},{"id":"2ee36853.06e5a","type":"olcnr-data-get","z":"5131a1e3.fd76d8","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":false,"name":"","x":400,"y":820,"wires":[["df89937b.1047"]]},{"id":"df89937b.1047","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"dataRecordId","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["31cc22a5.669836"]]},{"id":"863b7fa5.fa235","type":"file","z":"5131a1e3.fd76d8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"delete","encoding":"none","x":1110,"y":760,"wires":[["4f8f96f.4b51e68"]]},{"id":"d8eb34d9.0af138","type":"change","z":"5131a1e3.fd76d8","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'cotg\\\\timesheets\\\\forms\\\\' & msg.req.params.guid & '.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["863b7fa5.fa235"]]},{"id":"4f8f96f.4b51e68","type":"debug","z":"5131a1e3.fd76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1250,"y":760,"wires":[]},{"id":"d69210a.fc0d87","type":"comment","z":"5131a1e3.fd76d8","name":"Delete the form","info":"","x":940,"y":720,"wires":[]},{"id":"343e2405.a9fa7c","type":"inject","z":"d9a4e9bb.013ae","name":"Sample data PDF","props":[{"p":"topic","vt":"str"},{"p":"file","v":"Letter - 10 customers.pdf","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic & file","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"filestore\\pdf\\","payloadType":"str","x":150,"y":100,"wires":[["8f97fb27.ab77a"]]},{"id":"aa9863d2.04bb1","type":"inject","z":"d9a4e9bb.013ae","name":"Sample data XML","props":[{"p":"topic","vt":"str"},{"p":"file","v":"Sample Data-1k.xml","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic & file","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"filestore\\xml\\","x":140,"y":140,"wires":[["8f97fb27.ab77a"]]},{"id":"72f0e3be.5028c4","type":"inject","z":"d9a4e9bb.013ae","name":"Sample data Connect Template","props":[{"p":"topic","vt":"str"},{"p":"file","v":"olsg_invoice.OL-template","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic & file","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"filestore\\connect resources\\","x":190,"y":180,"wires":[["8f97fb27.ab77a"]]},{"id":"afc0d66b.a475b","type":"debug","z":"7d5be68c.52e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":320,"wires":[]},{"id":"f4552abd.5877","type":"olcnr-print-output","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","outputPreset":"PR_TRAN PDF Full Job PDF.OL-outputpreset","name":"Full job","x":400,"y":220,"wires":[["a666a1ae.998a2"]]},{"id":"86ceb387.341be","type":"comment","z":"7d5be68c.52e92","name":"Runtime parameters - Data Record ID","info":"","x":190,"y":800,"wires":[]},{"id":"64556e7d.3fe098","type":"inject","z":"7d5be68c.52e92","name":"Sample data XML","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"previewpdf\\runtime parameters\\invoices.xml","payloadType":"str","x":120,"y":840,"wires":[["a0a7ab6d.3192b8"]]},{"id":"a0a7ab6d.3192b8","type":"olcnr-data-mapping","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","configuration":"pdf runtime parameters.OL-datamapper","active":false,"name":"data mapping","x":380,"y":840,"wires":[["fd11008a.1ab49"]]},{"id":"fd11008a.1ab49","type":"olcnr-data-get","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":true,"name":"","x":540,"y":840,"wires":[["b4680534.e9523"]]},{"id":"b4680534.e9523","type":"change","z":"7d5be68c.52e92","name":"","rules":[{"t":"set","p":"dataRecordId","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":840,"wires":[["fb17407.e8578c"]]},{"id":"f9c227cb.dc1278","type":"olcnr-preview-pdf","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","template":"pdf runtime parameters.OL-template","name":"","x":450,"y":900,"wires":[["5e2300bc.fc78"]]},{"id":"5e2300bc.fc78","type":"change","z":"7d5be68c.52e92","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'previewpdf\\\\runtime parameters\\\\data record id.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":900,"wires":[["80c48cf2.3b991"]]},{"id":"80c48cf2.3b991","type":"file","z":"7d5be68c.52e92","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":900,"wires":[["c3d5750d.b0fc7"]]},{"id":"c3d5750d.b0fc7","type":"debug","z":"7d5be68c.52e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1010,"y":900,"wires":[]},{"id":"497f0fac.847798","type":"exec","z":"c3595fe9.6f8168","command":"ipconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ipconfig","x":380,"y":180,"wires":[["ecfdd44.008da28"],[],[]]},{"id":"ecfdd44.008da28","type":"function","z":"c3595fe9.6f8168","name":"Extract IP","func":"var input, tokens, IP;\nvar outString = \"\";\n\ninput = msg.payload;\n/*\ntokens = input.split(\"IPv4\", 5);\ntokens = tokens[1].split(\":\", 5);\ntokens = tokens[1].split(\"  \", 5);\nIP = tokens[0].trim();\noutString = outString + IP;\n\n*/\noutString = 'http://127.0.0.1';\n\n\nmsg.ipAddress = outString;\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[[]]},{"id":"8ba8741c.2ef4f8","type":"change","z":"c3595fe9.6f8168","name":"","rules":[{"t":"set","p":"parameters.ipAddress","pt":"msg","to":"ipAddress","tot":"global"},{"t":"set","p":"parameters.workSpace","pt":"msg","to":"workspace","tot":"global"},{"t":"set","p":"parameters.jobUid","pt":"msg","to":"67637625-7748-46bd-95cf-70a4d00f0c37","tot":"str"},{"t":"set","p":"parameters.siteHash","pt":"msg","to":"dfc6799d1276933d","tot":"str"},{"t":"set","p":"parameters.boundarySettings","pt":"msg","to":"{\"type\":\"single\",\"value\":null}","tot":"str"},{"t":"set","p":"parameters.previewMode","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"parameters.today","pt":"msg","to":"$now()","tot":"jsonata"},{"t":"set","p":"parameters.someId","pt":"msg","to":"12345","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["49cb2f31.b787"]]},{"id":"20007c4b.150e74","type":"subflow:c3595fe9.6f8168","z":"65f6e63.e225a18","name":"Create Runtime Parameters","env":[],"x":380,"y":600,"wires":[["4e106048.e869","65d86f00.698a1"]]},{"id":"83fa15cc.1a071","type":"olcnr-preview-pdf","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","template":"pdf runtime parameters.OL-template","name":"","x":450,"y":1080,"wires":[["37f354a0.3be40c"]]},{"id":"37f354a0.3be40c","type":"change","z":"7d5be68c.52e92","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'previewpdf\\\\runtime parameters\\\\data record values.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1080,"wires":[["60152ba8.0620e4"]]},{"id":"60152ba8.0620e4","type":"file","z":"7d5be68c.52e92","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":1080,"wires":[["d6c7b3bc.74d07"]]},{"id":"d6c7b3bc.74d07","type":"debug","z":"7d5be68c.52e92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":990,"y":1080,"wires":[]},{"id":"c436b96e.c6a6c8","type":"olcnr-data-get","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","input":"record","output":"values","includeSubdetails":false,"flattened":true,"name":"data values","x":910,"y":1020,"wires":[["8e9fb13a.c90e58"]]},{"id":"8e9fb13a.c90e58","type":"subflow:c3595fe9.6f8168","z":"7d5be68c.52e92","name":"Set Parameters","env":[],"x":1080,"y":1020,"wires":[["83fa15cc.1a071"]]},{"id":"fb17407.e8578c","type":"subflow:c3595fe9.6f8168","z":"7d5be68c.52e92","name":"Set Parameters","env":[],"x":920,"y":840,"wires":[["f9c227cb.dc1278"]]},{"id":"e5d9d3a6.7a4928","type":"change","z":"7d5be68c.52e92","name":"","rules":[{"t":"set","p":"dataRecordId","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1020,"wires":[["c436b96e.c6a6c8"]]},{"id":"d27777fb.d9db08","type":"inject","z":"7d5be68c.52e92","name":"Sample data XML","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"previewpdf\\runtime parameters\\invoices.xml","payloadType":"str","x":120,"y":1020,"wires":[["bdeccd22.486e48"]]},{"id":"bdeccd22.486e48","type":"olcnr-data-mapping","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","configuration":"pdf runtime parameters.OL-datamapper","active":false,"name":"data mapping","x":380,"y":1020,"wires":[["e9275017.157748"]]},{"id":"e9275017.157748","type":"olcnr-data-get","z":"7d5be68c.52e92","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":true,"name":"","x":540,"y":1020,"wires":[["e5d9d3a6.7a4928"]]},{"id":"bed1158d.7aad58","type":"comment","z":"7d5be68c.52e92","name":"Runtime parameters - Data Values","info":"","x":180,"y":980,"wires":[]},{"id":"c96cee48.47042","type":"comment","z":"7d5be68c.52e92","name":"@TODO: NODERED-396","info":"","x":470,"y":800,"wires":[]},{"id":"b28c5ace.7cc85","type":"comment","z":"7d5be68c.52e92","name":"@TODO: NODERED-396","info":"","x":450,"y":980,"wires":[]},{"id":"50fd325.114dfcc","type":"comment","z":"a7446b3d.e40398","name":"Runtime parameters - Data Record ID","info":"","x":190,"y":820,"wires":[]},{"id":"f8c42e6b.24cf68","type":"inject","z":"a7446b3d.e40398","name":"Sample data XML","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"htmlcontent\\runtime parameters\\invoices.xml","x":120,"y":860,"wires":[["65a6145b.158334"]]},{"id":"65a6145b.158334","type":"olcnr-data-mapping","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","configuration":"html runtime parameters.OL-datamapper","active":false,"name":"data mapping","x":380,"y":860,"wires":[["2f9dfc7b.21930c"]]},{"id":"2f9dfc7b.21930c","type":"olcnr-data-get","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":true,"name":"","x":540,"y":860,"wires":[["db0e69.08aa8198"]]},{"id":"db0e69.08aa8198","type":"change","z":"a7446b3d.e40398","name":"","rules":[{"t":"set","p":"dataRecordId","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":860,"wires":[["1e9ffe06.3c29ea"]]},{"id":"94472d40.da4fa8","type":"change","z":"a7446b3d.e40398","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'htmlcontent/runtime parameters/data record id.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":920,"wires":[["3662d8ce.ee403"]]},{"id":"3662d8ce.ee403","type":"file","z":"a7446b3d.e40398","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":920,"wires":[["82830498.aabba"]]},{"id":"82830498.aabba","type":"debug","z":"a7446b3d.e40398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":970,"y":920,"wires":[]},{"id":"b39365c1.7a7ce","type":"change","z":"a7446b3d.e40398","name":"Set Filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'htmlcontent/runtime parameters/data record values.html'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":720,"wires":[["5ce675b7.ae6304"]]},{"id":"5ce675b7.ae6304","type":"file","z":"a7446b3d.e40398","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":720,"wires":[["9899f16.dd9ea9"]]},{"id":"9899f16.dd9ea9","type":"debug","z":"a7446b3d.e40398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":970,"y":720,"wires":[]},{"id":"c065355c.d6dd68","type":"olcnr-data-get","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","input":"record","output":"values","includeSubdetails":false,"flattened":true,"name":"data values","x":910,"y":660,"wires":[["2bdcb252.d8f366"]]},{"id":"2bdcb252.d8f366","type":"subflow:c3595fe9.6f8168","z":"a7446b3d.e40398","name":"Set Parameters","env":[],"x":1080,"y":660,"wires":[["42699214.6cad54"]]},{"id":"1e9ffe06.3c29ea","type":"subflow:c3595fe9.6f8168","z":"a7446b3d.e40398","name":"Set Parameters","env":[],"x":920,"y":860,"wires":[["ae224d09.514a6","aa00c104.21eaf8"]]},{"id":"ae52f15.0e6231","type":"change","z":"a7446b3d.e40398","name":"","rules":[{"t":"set","p":"dataRecordId","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":660,"wires":[["c065355c.d6dd68"]]},{"id":"ed8154c2.ca4f2","type":"inject","z":"a7446b3d.e40398","name":"Sample data XML","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"htmlcontent\\runtime parameters\\invoices.xml","x":120,"y":660,"wires":[["2ae4eb02.dde834"]]},{"id":"2ae4eb02.dde834","type":"olcnr-data-mapping","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","configuration":"pdf runtime parameters.OL-datamapper","active":false,"name":"data mapping","x":380,"y":660,"wires":[["5d5cbedb.3457d"]]},{"id":"5d5cbedb.3457d","type":"olcnr-data-get","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","input":"set","output":"IDs","includeSubdetails":false,"flattened":true,"name":"","x":540,"y":660,"wires":[["ae52f15.0e6231"]]},{"id":"b3ff888c.6c159","type":"comment","z":"a7446b3d.e40398","name":"Runtime parameters - Data Values","info":"","x":180,"y":620,"wires":[]},{"id":"ae224d09.514a6","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"html runtime parameters.OL-template","section":"","cssSelector":"","embedResources":true,"name":"","x":450,"y":920,"wires":[["94472d40.da4fa8"]]},{"id":"85b8bf01.ce0aa","type":"change","z":"c3595fe9.6f8168","name":"","rules":[{"t":"set","p":"_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":80,"wires":[["8ba8741c.2ef4f8"]]},{"id":"49cb2f31.b787","type":"change","z":"c3595fe9.6f8168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"_payload","tot":"msg"},{"t":"delete","p":"_payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":80,"wires":[[]]},{"id":"42699214.6cad54","type":"olcnr-html-content","z":"a7446b3d.e40398","connect_server":"23c3ba7a.febabe","template":"html runtime parameters.OL-template","section":"","cssSelector":"","embedResources":true,"name":"","x":450,"y":720,"wires":[["b39365c1.7a7ce"]]},{"id":"d2340d33.f503e","type":"change","z":"65f6e63.e225a18","name":"path","rules":[{"t":"set","p":"outputFolder","pt":"msg","to":"$globalContext('output') & 'data\\\\full\\\\output\\\\values\\\\'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1520,"wires":[["fb0b2773.2b478","83b978eb.aec998"]]},{"id":"b9676b6c.4ea8f8","type":"change","z":"65f6e63.e225a18","name":"path","rules":[{"t":"set","p":"outputFolder","pt":"msg","to":"$globalContext('output') & 'data\\\\full\\\\output\\\\ids\\\\'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1780,"wires":[["95e1c15d.b787b","3091636b.227acc"]]},{"id":"be386ab2.725718","type":"change","z":"65f6e63.e225a18","name":"filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"outputFolder & 'doc_' & parts.index & '.pdf'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1780,"wires":[["ab25e941.6e73b8"]]},{"id":"bbaab2bc.46273","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1270,"y":1840,"wires":[]},{"id":"1aba11be.2a80e6","type":"debug","z":"65f6e63.e225a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","targetType":"msg","x":1270,"y":1580,"wires":[]},{"id":"99e66daf.de3cd","type":"olcnr-print-output","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","outputPreset":"PR_TRAN PDF per Customer.OL-outputpreset","name":"Group per customer","x":440,"y":280,"wires":[["a666a1ae.998a2"]]},{"id":"5fc54d0c.0af8f4","type":"olcnr-print-output","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","outputPreset":"PR_TRAN PDF per Invoice.OL-outputpreset","name":"Individual invoices","x":430,"y":340,"wires":[["a666a1ae.998a2"]]},{"id":"fb39a714.7e3a1","type":"file","z":"7e87d273.bb52c4","name":"Delete dataFile","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":900,"y":300,"wires":[["231061a6.d25a56"]]},{"id":"b9dff206.3504c8","type":"comment","z":"7e87d273.bb52c4","name":"Process individual XML data files (invoices)","info":"","x":210,"y":60,"wires":[]},{"id":"453eaaa7.8f8c8c","type":"olcnr-data-mapping","z":"7e87d273.bb52c4","connect_server":"23c3ba7a.febabe","configuration":"nodered-377-invoice.OL-datamapper","active":false,"name":"Data mapping","x":120,"y":200,"wires":[["352de1ea.a2552e"]]},{"id":"8db71ae2.ea3388","type":"inject","z":"7e87d273.bb52c4","name":"Inject 1 XML file","props":[{"p":"records","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":480,"wires":[["4eb70647.cb8f6"]]},{"id":"dacd8bf7.9ce3b","type":"debug","z":"7e87d273.bb52c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"file","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":560,"wires":[]},{"id":"352de1ea.a2552e","type":"olcnr-print-content","z":"7e87d273.bb52c4","connect_server":"23c3ba7a.febabe","template":"nodered-377-invoice.OL-template","name":"Print content","x":290,"y":200,"wires":[["553c4dca.a0ca0c"]]},{"id":"553c4dca.a0ca0c","type":"olcnr-print-job","z":"7e87d273.bb52c4","connect_server":"23c3ba7a.febabe","jobPreset":"nodered-377-no-grouping.OL-jobpreset","name":"Print job","x":440,"y":200,"wires":[["d2d88a13.e07658"]]},{"id":"d2d88a13.e07658","type":"olcnr-print-output","z":"7e87d273.bb52c4","connect_server":"23c3ba7a.febabe","outputPreset":"nodered-377-pdf-stationery.OL-outputpreset","name":"Print output","x":590,"y":200,"wires":[["de6e7508.d71c8"]]},{"id":"23589e36.231762","type":"change","z":"7e87d273.bb52c4","name":"","rules":[{"t":"set","p":"file","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":560,"wires":[["d8c4a31d.56e38"]]},{"id":"5829c38b.721aec","type":"change","z":"7e87d273.bb52c4","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"_dataFile","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"_baseName","pt":"msg","to":"$substringBefore(file, '.')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["453eaaa7.8f8c8c"]]},{"id":"4c9c9a57.61c434","type":"catch","z":"7e87d273.bb52c4","name":"Catch Connect errors","scope":["453eaaa7.8f8c8c","352de1ea.a2552e","553c4dca.a0ca0c","d2d88a13.e07658"],"uncaught":false,"x":140,"y":300,"wires":[["b90bbb08.e6ab5","b6626a42.888628"]]},{"id":"b90bbb08.e6ab5","type":"change","z":"7e87d273.bb52c4","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"_dataFile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["fb39a714.7e3a1"]]},{"id":"216552ba.351626","type":"split","z":"7e87d273.bb52c4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":560,"wires":[["23b6f417.7a0ffc"]]},{"id":"23b6f417.7a0ffc","type":"change","z":"7e87d273.bb52c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'invoice_' & parts.index & '.xml'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["23589e36.231762"]]},{"id":"de6e7508.d71c8","type":"olcnr-file-download","z":"7e87d273.bb52c4","connect_server":"23c3ba7a.febabe","managedFileId":"","name":"","outputas":"","x":750,"y":200,"wires":[["6b57d000.231228"]]},{"id":"aff8e515.fbfaf8","type":"file","z":"7e87d273.bb52c4","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1090,"y":200,"wires":[["b90bbb08.e6ab5"]]},{"id":"6b57d000.231228","type":"change","z":"7e87d273.bb52c4","name":"Set output location","rules":[{"t":"set","p":"_extension","pt":"msg","to":".zip","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & 'stability\\\\nodered-377\\\\out\\\\' & _baseName & _extension","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["aff8e515.fbfaf8"]]},{"id":"231061a6.d25a56","type":"debug","z":"7e87d273.bb52c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"file","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":300,"wires":[]},{"id":"b6626a42.888628","type":"debug","z":"7e87d273.bb52c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":340,"wires":[]},{"id":"4eb70647.cb8f6","type":"change","z":"7e87d273.bb52c4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"stability\\nodered-377","tot":"str"},{"t":"set","p":"source","pt":"msg","to":"$globalContext('tests') & topic & '\\\\data'","tot":"jsonata"},{"t":"set","p":"destination","pt":"msg","to":"$globalContext('output') & topic & '\\\\in'","tot":"jsonata"},{"t":"set","p":"filename","pt":"msg","to":"$globalContext('output') & topic & '\\\\in\\\\log.txt'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["441a0f9e.d047d8"]]},{"id":"7987f289.449ba4","type":"inject","z":"7e87d273.bb52c4","name":"Inject 5 XML files","props":[{"p":"records","v":"5","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":520,"wires":[["4eb70647.cb8f6"]]},{"id":"441a0f9e.d047d8","type":"function","z":"7e87d273.bb52c4","name":"","func":"let payload = [];\n\nfor (var i = 0; i < msg.records; i++) {\n    payload.push(i);\n}\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["7f3d1c8f.1558a4"]]},{"id":"fbe3322.af5ffd","type":"inject","z":"7e87d273.bb52c4","name":"Inject 10 XML files","props":[{"p":"records","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":560,"wires":[["4eb70647.cb8f6"]]},{"id":"1beca514.d1a963","type":"inject","z":"7e87d273.bb52c4","name":"Inject 100 XML files","props":[{"p":"records","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":600,"wires":[["4eb70647.cb8f6"]]},{"id":"7f3d1c8f.1558a4","type":"file","z":"7e87d273.bb52c4","name":"Write dummy file to create dir structure","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":980,"y":480,"wires":[["216552ba.351626"]]},{"id":"d87d6b3b.5ba9e","type":"inject","z":"7e87d273.bb52c4","name":"Inject 500 XML files","props":[{"p":"records","v":"500","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":640,"wires":[["4eb70647.cb8f6"]]},{"id":"22158690.d15152","type":"inject","z":"7e87d273.bb52c4","name":"Inject 1000 XML files","props":[{"p":"records","v":"1000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":680,"wires":[["4eb70647.cb8f6"]]},{"id":"ec2974df.13e19","type":"comment","z":"7e87d273.bb52c4","name":"Inject test data","info":"","x":120,"y":440,"wires":[]},{"id":"f3bfbe09.0a233","type":"debug","z":"52e2b2e.d0444cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":280,"wires":[]},{"id":"c10c391.159d948","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 1k recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-1k.xml","x":130,"y":600,"wires":[["ea668aa1.990eb8"]]},{"id":"f91688e.9f149f8","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 50 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-50recs.xml","x":130,"y":560,"wires":[["ea668aa1.990eb8"]]},{"id":"3a79fe87.04a0e2","type":"inject","z":"1d910b2e.85ebd5","name":"Sample data 5 recs","props":[{"p":"topic","vt":"str"},{"p":"filename","v":"$globalContext('tests') & topic","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"printcontent\\transactional\\Sample Data-5recs.xml","payloadType":"str","x":130,"y":520,"wires":[["ea668aa1.990eb8"]]},{"id":"ea668aa1.990eb8","type":"olcnr-all-in-one","z":"1d910b2e.85ebd5","connect_server":"23c3ba7a.febabe","dataMapperConfiguration":"PR_TRAN Data XML.OL-datamapper","template":"PR_TRAN Invoice.OL-template","jobPreset":"PR_TRAN Default.OL-jobpreset","outputPreset":"PR_TRAN PDF Full Job PDF.OL-outputpreset","persistData":false,"name":"","x":400,"y":520,"wires":[["bcdac458.f7e99"]]},{"id":"bcdac458.f7e99","type":"debug","z":"1d910b2e.85ebd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"d8c4a31d.56e38","type":"fs-ops-copy","z":"7e87d273.bb52c4","name":"","sourcePath":"source","sourcePathType":"msg","sourceFilename":"file","sourceFilenameType":"msg","destPath":"destination","destPathType":"msg","destFilename":"file","destFilenameType":"msg","link":false,"overwrite":true,"x":920,"y":560,"wires":[["dacd8bf7.9ce3b"]]},{"id":"a828c230.e176a8","type":"sendgrid","z":"217b4fe9.13176","from":"Laura from OL <laura@ol-acme.com>","to":"","name":"","content":"html","x":1160,"y":180,"wires":[]},{"id":"9cb2a451.76e2d8","type":"sendgrid","z":"217b4fe9.13176","from":"Laura from OL <laura@ol-acme.com>","to":"","name":"","content":"html","x":1160,"y":460,"wires":[]},{"id":"23633c3f.90aca4","type":"watch-directory","z":"7e87d273.bb52c4","folder":"C:\\Users\\vandenhe\\.node-red\\projects\\OL-Connect-playground-for-Node-RED\\workspace\\output\\stability\\nodered-377\\in","recursive":0,"typeEvent":"create","ignoreInitial":true,"ignoredFiles":".txt","ignoredFilesType":"re","name":"","x":450,"y":100,"wires":[["5829c38b.721aec"]]},{"id":"bfa2e09d.2baa","type":"delay","z":"52e2b2e.d0444cc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":280,"wires":[["a1b5d512.aa9be8"]]},{"id":"e4a5539b.e24cc8","type":"comment","z":"c3595fe9.6f8168","name":"Backup to get the IP Address on Windows","info":"This could be used to fetch the IP address on a Windows box. Useless when running inside a container as you need the IP of the host computer. The IP Address is now set in a Global","x":480,"y":140,"wires":[]},{"id":"c0faa453.5835a8","type":"comment","z":"a7446b3d.e40398","name":"@TODO: NODERED-416","info":"","x":470,"y":820,"wires":[]},{"id":"aa00c104.21eaf8","type":"debug","z":"a7446b3d.e40398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":820,"wires":[]}]